<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestSettings.MainForm" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestSettings.MainForm>
            <setting name="chk1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chk2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chk3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chk4" serializeAs="String">
                <value>True</value>
            </setting>
        </TestSettings.MainForm>
    </userSettings>
</configuration>